<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- AllExtensions, UseExcludedExtensions, UseSelectedExtensions -->
    <add key="ScanningRules.ScanStrategy" value="UseSelectedExtensions" />
    <add key="SelectedExtensions" value=".cs .sln .txt .config .resx .xml .bat .sh .sql" />
    <add key="ExcludedExtensions" value=".gitignore .lock .nupkg .dll .exe .ico .pdb .sdf .db .zip .rar .7z .pdf .doc .docx .idb .pch .lib .xlsx" />
    <add key="ExcludedFolders" value=".git, .vs, packages, sub, java, ipch" />
  </appSettings>
</configuration>